<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Tester</title>

</head>

<body>
    <div id="app">
        <h1>API Tester</h1>

        <form @submit="getResponse">

            <select>
                <option>GET</option>
                <option>POST</option>
                <option>PUT</option>
                <option>PATCH</option>
                <option>UPDATE</option>
                <option>DELETE</option>
            </select>

            <select>
                <option>http://</option>
                <option>https://</option>
            </select>
            <input type="text" v-model="baseUrl" placeholder="baseUrl"/>
            <input type="text" v-model="endpoint" placeholder="endPoint"/>
            <button type="submit">Submit</button>
        </form><!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <div>
            <span><strong>Url: </strong>{{ endpoint }}</span><br />
            <span>Response</span>
            <textarea rows=20 style="width:100%">{{ response }}</textarea>
        </div>
    </div>>


    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- production version, optimized for size and speed -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                requestType: '',
                protocol: '',
                baseUrl: '',
                endpoint: '',
                url: '',
                response: ''
            },
            methods: {
                getResponse: function (e) {
                    e.preventDefault();

                    axios
                        .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                        .then(response => (this.response = response))
                        .catch(err=>console.log("error"));

                    //this.response = "Response";
                }
            },
            mounted() {
            }
        });
    </script>
</body>

</html>
